.background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color: rgba(243, 247, 236, 0.8); /* F3F7EC with transparency */
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 80%;
    transition: background-color 0.3s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.text-container {
    text-align: center;
    transition: transform 0.3s ease;
}

.title {
    background: linear-gradient(45deg, #3ABEF9, #7ACDF9);
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 5% 0%;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.title:hover {
    background: linear-gradient(45deg, #7ACDF9, #3ABEF9);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.education-grid {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.education-tile {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .overlay {
        padding: 15px;
    }

    .education-grid {
        gap: 15px;
    }

    .education-tile {
        padding: 15px;
    }
}
